{% extends 'base.html.twig' %}

{% block title %}profile page{% endblock %}

{% block body %}



    <div class="foot">
        <span id="separator">--------------------</span><br>
        <a href="{{ path('app_home') }}">Retour a l'accueil</a>
    </div>
{% endblock %}
